/* Drivers data list */
main.drivers ul#existingDrivers {
    margin-block: 3rem;

    display: grid;
    gap: 5px;
}

main.drivers ul#existingDrivers li {
    min-height: 5rem;

    display: grid;
    grid-template-columns: 5rem 5rem repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    gap: 3px;

    background-color: #e6ecf3;
    border-bottom: 1px solid #dce1e8;
}
main.drivers ul#existingDrivers li:nth-of-type(odd) {
    background-color: #d1d5db;
}
main.drivers ul#existingDrivers li > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
main.drivers ul#existingDrivers li * {
    font-size: 1.35rem;
}

main.drivers ul#existingDrivers li a {
    margin-block: auto;

    width: 5rem;
    aspect-ratio: 1;
}
main.drivers ul#existingDrivers li .fln {
    width: 4.5rem;
    aspect-ratio: 1;

    font-size: 1.5rem;
    color: #fff;
    background-color: mediumorchid;
    border-radius: 50%;
}


/* Adding new driver modal dialog. Opened on default */
main.drivers #asideWrapper {
    position: fixed;

    top: 0; left: 0;
    width: 100dvw; height: 100dvh;
    background-color: #25354fbd;

    z-index: 9;
}
main.drivers #asideWrapper.-hidden {
    display: none;
    opacity: 0;
}

/* Adding new driver ASIDE. */
main.drivers aside#driverProfile {
    padding: 2rem;
    position: fixed;

    top: 0; left: 0;
    width: min(55rem, 95%);
    height: 100dvh;

    background-color: var(--main-color);
    transition: opacity 0.2s; 

    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow-y: auto;

    border-right: 1px solid #1F2937;
    z-index: 10;
}

main.drivers #asideWrapper.-hidden aside#driverProfile {
    display: none;
    opacity: 0;
}

/* Adding new driver FORM. */
main.drivers aside#driverProfile form {
    display: grid;
    gap: 2rem;
}

main.drivers aside#driverProfile form fieldset {
    padding: 0.5rem 0.7rem;
    border-radius: 3px;
    background-color: var(--main-color1);
    border: none;
}
main.drivers aside#driverProfile form fieldset legend {
    padding: 2px 5px;
    color: #ccc;

    background-color: var(--main-color1);
    border-radius: 2px;
    
}

main.drivers aside#driverProfile form .form-item {
    display: grid;
    align-items: center;
    grid-template-columns: 18rem 1fr;
    margin-bottom: 5px;
}

main.drivers aside#driverProfile form .form-item * {
    font-size: 1.35rem;
}
main.drivers aside#driverProfile form .form-item label {
    color: var(--font-col-400);
    text-transform: capitalize;
}

main.drivers aside#driverProfile form .form-item input,
main.drivers aside#driverProfile form .form-item select,
main.drivers aside#driverProfile form .form-item textarea {
    padding: 4px 6px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
main.drivers aside#driverProfile form .form-item textarea {
    height: 7rem;
    resize: none;
}