<!-- Views/__components/ShowHidePassword.ejs -->

<%
    const {
        itemId = Math.floor(new Date().getTime() * (Math.random() + 1)),
        related
    } = locals
%>


<% if (related) { %>

    <style>
        label.toggle {
            position: absolute;
            top: 50%; right: 5px;
            transform: translateY(-50%);
            user-select: none;
            cursor: pointer;
        }

        label.toggle::before {
            content: "🙈";

            height: 3rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            font-size: 1.8rem;
            opacity: 1;
            transition: opacity 0.25s ease;
        }
        label.toggle.plain::before {
            content: "🙊";
        }
        label.toggle:hover::before {
            opacity: 0.85;
        }
    </style>

    <label class="toggle" for="<%= itemId %>"></label>
    <input hidden type="checkbox" id="<%= itemId %>" />
    <script defer>
        document.getElementById("<%= itemId %>")
            .addEventListener("click", (e) => {
                const toggledItem = document.getElementById("<%= related %>")
                if (!toggledItem) return

                toggledItem.type = e.target.checked ? 'text' : 'password'
                toggledItem.focus()

                const label = document.querySelector(`label.toggle[for="${ e.target.id }"]`)
                if (label) label.classList.toggle("plain", e.target.checked)
            })
    </script>
<% } %>