main.error {
    display: grid;
    place-items: center;
    place-content: center;
}

main.error strong {
    font-size: inherit;
    font-weight: 700;
    color: inherit;
}

main.error h1,
main.error h2,
main.error h3,
main.error h4 {
    text-align: center;
}

main.error h1 {
    margin-top: 4rem;
    margin-inline: auto;

    width: 100%;
    max-width: 65ch;

    font-size: 3rem;
    text-wrap: balance;
}
main.error h2 {
    font-size: 2.2rem;
    color: #c55f5f;
}
main.error h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

main.error details {
    margin-block: 3rem;
    margin-inline: auto;
    padding: 1.8rem 3.2rem;

    background-color: var(--notOk-color);
    border-radius: 0.5rem;
}
main.error details summary {
    text-align: right;
}