main.admin-profile {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Terminals & Last updated containers */

main.admin-profile .data-section h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

main.admin-profile .data-section.-terminals a#more {
    color: var(--accent-red-hover);
    text-underline-offset: 2px;
}

main.admin-profile .data-section ul {
    margin-block: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
}

main.admin-profile .data-section ul li {
    --terminal_color: #ccc;

    padding: 1rem 0.5rem;

    display: grid;
    place-items: center;

    background-color: var(--main-color1);
    border: 1px solid var(--main-color2);
    border-radius: 3px;

    isolation: isolate;
    position: relative;
}

main.admin-profile .data-section ul li[data-key]::after {
    content: "";

    position: absolute;
    top: 2px; left: 2px;
    width: 5px; height: 5px;

    background-color: var(--terminal_color);
    border-radius: 50%;
    opacity: 0.5;

    z-index: 1;
}

main.admin-profile .data-section ul li[data-key="t5"] {
    --terminal_color: #4fb2d1;
}
main.admin-profile .data-section ul li[data-key="t18"] {
    --terminal_color: #dd3c3c;
}
main.admin-profile .data-section ul li[data-key="wut"] {
    --terminal_color: #019679;
}
main.admin-profile .data-section ul li[data-key="husky"] {
    --terminal_color: #d1b84f;
}

main.admin-profile .data-section.-terminals ul a {
    text-decoration: none;
}

main.admin-profile .data-section.-terminals ul li {
    box-shadow: var(--shadow-s);
    transition: box-shadow 0.25s;
}
main.admin-profile .data-section.-terminals ul a:is(:hover, :focus-visible) li {
    box-shadow: var(--shadow-m);
}

main.admin-profile .data-section dl {
    margin-block: 3px;
    display: flex;
    gap: 1rem;
}
main.admin-profile .data-section dt {
    text-transform: capitalize;
    color: var(--font-col-300);
}
main.admin-profile .data-section dd.status {
    color: #3086e1;
}