/* Terminals */

main.admin-profile .data-section li {
    margin-block: 2rem;
}
main.admin-profile .data-section dl {
    margin-block: 3px;
    display: flex;
    gap: 1rem;
}
main.admin-profile .data-section dt {
    text-transform: capitalize;
    color: var(--font-col-300);
}