.must-update-password .user-basic-profile h1.main-title,
.must-update-password .basic-profile-data > *:not(.password-update) {
    display: none;
}

.must-update-password article {
    margin-block: 2rem;

    display: grid;
    place-items: center;
    gap: 1rem;
}

.must-update-password article h2 {
    max-width: 100rem;
    font-size: 1.7rem;
    text-align: center;
    text-wrap: balance;
}

.must-update-password article ul {
    list-style: inside;
}
.must-update-password article p, ul li {
    font-size: 1.35rem;
    line-height: 1.7;
}
.must-update-password article p {
    text-align: center;
    text-wrap: balance;
}
.must-update-password article strong {
    font-size: inherit;
    font-weight: 500;
}
.must-update-password article strong[id] {
    margin-inline: 3px;
    padding-inline: 3px;

    border-radius: 3px;
    border: 1px dotted #ddd;

    transition: color 0.35s, background-color 0.35s;
}
.must-update-password article strong[data-valid="true"] {
    color: darkgreen;
    background-color: var(--ok-color);
}
.must-update-password article strong[data-valid="false"] {
    color: darkred;
    background-color: var(--notOk-color);
}

.must-update-password .basic-profile-data {
    margin-block: 2rem;
    display: block;
    border: unset;
}
.must-update-password .basic-profile-data .password-update {
    width: 100%;
    margin-inline: auto;
}