<!DOCTYPE html>
<html lang="en" view-transition>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <link rel="shortcut icon" href="/favico.png">
    <link rel="stylesheet" href="/reset_password.css">
</head>
<body class="entire-page">

    <%- include("__header.ejs") %>


    <main class="password-reset">
        <section class="main-box -glass-element">
            <h1 class="main-title">Reset my password 📱💬</h1>

            <a href="/login" title="Dismiss" class="dismiss">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </a>
    
            <form action="/user/validate-username" id="validate-username" method="post">
                <input type="text" name="usernameEmail" id="usernameEmail" placeholder="Username or Email" required />
                <button type="submit" class="standart-btn">Find</button>
            </form>
    
            <p id="result">Nothing found</p>
    
            <form action="/user/reset-password" id="reset-password" method="post" hidden>
                <input type="hidden" name="userId" id="userId" readonly />
                <button type="submit" class="standart-btn">Send</button>
            </form>
        </section>
    </main>


    <%- include("__footer.ejs") %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/reset_password.js" defer></script>
    
</body>
</html>