main.password-reset {
    display: grid;
    align-items: center;

    background-image: url("/main-page.jpg");

    position: relative;
    isolation: isolate;
    z-index: 0;
}

main.password-reset::after {
    content: "";

    position: absolute;
    inset: 0;

    background: linear-gradient( to right, var(--main-grad-color2), var(--main-grad-color1));
    z-index: -1;
}

main.password-reset .main-box {
    margin-inline: auto;
    padding: 2rem;
    
    width: 85%;
    max-width: 35rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    interpolate-size: allow-keywords;
    transition: height 0.2s;

    position: relative;
}
main.password-reset .main-box:has(form[hidden]) {
    overflow-y: hidden;
    height: 15rem;
}

main.password-reset .main-box .dismiss {
    padding: 3px;
    position: absolute;
    top: 0; right: 0;

    width: 2.5rem;
    aspect-ratio: 1;
    translate: 100% -100%;
    transform-origin: center;
    transition: transform 0.25s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #fff;
    background-color: lightcoral;
    border-radius: 50%;
}
main.password-reset .main-box .dismiss:is(:hover, :focus-within) {
    transform: rotate(90deg);
}

main.password-reset form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: opacity 0.5s;
}
main.password-reset form[hidden] {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}
main.password-reset form input {
    --active-color: #05b1cb;

    flex: 1;

    padding: 6px 0.5rem;
    
    font-size: 1.25rem;

    border: 1px solid #d5d9d9;
    outline: none;
    transition: 0.2s;
}
main.password-reset form input:focus-within {
    border-color: var(--active-color);
    box-shadow:0 0 5px 0 var(--active-color);
}

main.password-reset #result {
    margin-inline: auto;
    font-size: 1.55rem;
    transition: opacity 0.3s;
}
main.password-reset:has(form[hidden]) #result {
    opacity: 0;
    z-index: -1;
}